body {
    margin: 0;
    padding: 0;
}

.banner {
    padding-top: 5%;
    padding-bottom: -5%;
    background-image: url(./images/project_1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1400px;
}

.banner-contenier {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    color: rgb(255, 255, 255);
}

.title {
    font-size: 35px;
    font-weight: 100px;
    font-family: 'Oxygen', sans-serif;
}

.descirption {
    color: black;
    font-size: 15px;
    font-family: 'Oxygen', sans-serif;
    font-weight: bolder;

}

.anochor {
    border: 0;
    margin-top: 2%;
    margin-bottom: 10%;
    padding: 20px;
    background: rgb(190, 241, 50);
    border-radius: 10px;
}

#link-blank {
    text-decoration: none;
    color: rgb(2, 2, 2);
    font-weight: bold;
    font-size: 15px;
}

.nd-buttom {
    border: 0;
    padding: 20px;
    background: rgb(190, 241, 50);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 15px;
}

.Dontate-contenier {
    margin-top: 40px;
    text-align: center;
    font-family: 'Oxygen', sans-serif;

}

#title-second {
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    font-size: 30px;

}

.descirption-second {
    font-family: 'Oxygen', sans-serif;
    text-align: center;
    font-size: 15px;
    color: rgb(146, 146, 143);
    font-weight: bolder;
}

.div-item {
    display: flex;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 15px;
    justify-content: center;
}

.div-margin {
    margin-right: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 15px;
    background-color: rgb(242, 247, 247);
    font-weight: bold;
    color: rgb(173, 173, 173);
    border-radius: 5px;
}

#border {
    border: 2px solid orangered;
    background-color: rgb(248, 227, 219);
    margin-right: 15px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    font-weight: bold;
    color: orangered;
    border-radius: 5px;
}

#title-taka {
    font-family: 'Oxygen', sans-serif;
    font-size: 10px;
    color: rgb(173, 173, 173);
    margin-bottom: -5px;
}

hr {
    margin-left: 19%;
    margin-right: 20%;
    position: relative;
    border: none;
    height: 1px;
    background: rgb(192, 192, 192);
    margin-bottom: 10px;
}

#section-thrid {
    margin-top: 80px;


}

#title-third {
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.descirption-third {
    font-family: 'Oxygen', sans-serif;
    text-align: center;
    font-size: 15px;
    color: rgb(146, 146, 143);
    font-weight: bolder;
}

.descirption-third-plus {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    font-family: 'Oxygen', sans-serif;
}

.box-descirption {
    height: 100%;
    font-family: 'Oxygen', sans-serif;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 40px;
    margin-top: 20px;
    margin-left: 20px;
    text-align: justify;

}

.image-size img {
    width: 100%;
}

#box-color-1 {
    background-color: rgb(232, 243, 243);
    font-size: 20px;
}

#box-color-2 {
    background-color: rgb(250, 229, 237);
    font-size: 20px;
}

#box-color-3 {
    background-color: rgb(248, 245, 205);
    font-size: 20px;
}

.descipton-p {
    color: rgb(146, 146, 143);
    ;
}

.end-part {
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: black;
    color: aqua;
}

#footer-header {
    font-size: 35px;
    font-weight: bold;
    color: rgb(255, 95, 37);
    font-family: 'Lobster', cursive;
    font-weight: lighter
}

#footer-h5 {
    font-family: 'Oxygen', sans-serif;
    color: rgb(146, 146, 143);

}