body {
    margin: 0;
    padding: 0;
}

.banner {
    background-image: url(./images/donation1.jpg);
    background-repeat: no-repeat;
    width: 100vh;
    height: 100vh;
}

.banner-contenier {
    padding-top: 20%;
    padding-left: 5%;
    padding-right: 5%;
    color: aliceblue;
    text-align: center;
}

.title {
    font-size: 35px;
    font-weight: 100px;
    font-family: 'Oxygen', sans-serif;
}